*~
*.#*
*.a
*.aux
*.bak
*.csv
*.dat
*.directory
*.gnumeric
*.log
*.mw
*.nb
*.nvvp
*.o
*.old
*.out
*.pdf
*.png
*.pvd
*.pyc
*.sh
*.txt
*.vti
src/parabola625.c
thermo/*.?

# simulation executables
alloy625
check-nucleation

# folders
bin
data

# utility executables
analysis/adsorption
analysis/ifcomp
analysis/mmsp2comp
analysis/mmsp2frac
thermo/equilibrium
