*~
*.#*
*.a
*.aux
*.bak
*.c
*.dat
*.directory
*.gnumeric
*.h
*.log
*.pdf
*.png
*.pvd
*.pyc
*.vti
*.o
*.out
*.sh
*.txt

# simulation executables
alloy625
debug
ibtest
iserial
omp
ompi
parallel
pgparallel
serial
smp
smpi

# folders
bin
data

# utility executables
analysis/adsorption
analysis/ifcomp
analysis/mmsp2comp
analysis/mmsp2frac
thermo/equilibrium
